html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.welcome-section,
.countdown-section,
.lovenotes-section,
.photogallery-section,
.reminders-section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific section backgrounds */
.welcome-section {
  background-color: rgb(12, 12, 12);
}

.countdown-section {
  background-color: rgb(27, 27, 27);
}

.lovenotes-section {
  background-color: rgb(26, 26, 26);
}

.photogallery-section {
  background-color: rgb(30, 30, 30);
}

.reminders-section {
  background-color: rgb(40, 40, 40);
}